.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px var(--padding-main-container-horisontal);
	max-width: var(--width-app-max);
	margin: 0 auto;
}

.logo {
	height: 40px;
}

.nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	column-gap: 20px;
}

.nav a {
	color: var(--color-text-secondary);
	font-size: var(--font-size-basic);
	font-weight: var(--font-weight-middle);
	text-decoration: none;
	transition: color var(--animation-basic);
}
.nav a:hover {
	color: var(--color-text-basic);
}

.nav li:last-of-type {
	margin-left: 20px;
}

@media (max-width: 460px) {
	.nav li:not(:last-of-type) {
		display: none;
	}
}
