.button {
	all: unset;
	display: inline-block;
	padding: 12px 20px;
	font-size: var(--font-size-basic);
	font-weight: var(--font-weight-middle);
	text-decoration: none;
	cursor: pointer;
	border-radius: 6px;
}

.secondary {
	background-color: var(--color-lightest-bg);
	color: var(--color-text-secondary);
	transition: color var(--animation-basic),
		background-color var(--animation-basic);
}
.secondary:hover,
.secondary:focus {
	background-color: var(--color-light-bg);
	color: var(--color-text-basic);
}
