.card {
	padding: 16px 24px 20px 16px;
	display: flex;
	flex-direction: column;
	border: 1px solid var(--color-light-bg);
	border-radius: 8px;
}

.card h2 {
	max-width: 500px;
	line-height: 1.2;
}

.card main {
	font-size: var(--font-size-basic);
	line-height: 1.3;
}

.primary {
	padding: 20px 24px 24px 24px;
}
.primary h2 {
	font-size: var(--font-size-heading);
	margin: 0;
}

.primary main {
	max-width: 500px;
}

.secondary header {
	display: flex;
	flex-direction: column-reverse;
}

.secondary h2 {
	font-size: var(--font-size-title);
	margin: 0;
}

.secondary header h2 + div {
	font-size: var(--font-size-caption);
	font-weight: var(--font-weight-middle);
	text-transform: uppercase;
	letter-spacing: 0.03em;
	margin-bottom: 2px;
	opacity: 0.4;
}

.secondary main {
	max-width: 80%;
}

.card footer {
	margin-top: auto;
}
