.heading {
	font-size: var(--font-size-heading);
	max-width: 600px;
}

.funds {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.funds li {
	padding: 16px;
	border-radius: 8px;
	min-height: 150px;

	background-color: var(--color-light-bg);
}

.funds li h3 {
	font-size: var(--font-size-title);
	margin: 0;
}
