.container {
	display: flex;
	gap: 20px;
	min-height: 350px;
}

@media (max-width: 820px) {
	.container {
		flex-direction: column;
	}
}

.applicationCta {
	position: relative;
	flex-basis: 75%;
	background-color: #fee7ba;
	border-color: transparent;
	box-shadow: 0 0 1px #fdc258, 0 2px 8px -4px rgba(0, 0, 0, 0.15),
		0 8px 20px -10px rgba(0, 0, 0, 0.07), 0 8px 16px -4px #fee7ba,
		0 0 1px #fee7ba;
}
.applicationCta p {
	max-width: 450px;
}

.applicationCta img {
	position: absolute;
	z-index: 0;
	right: -2px;
	top: 50%;
	height: 84%;
	transform: translateY(-50%);
}
@media (max-width: 1000px) {
	.applicationCta img {
		display: none;
	}
}

.applicationCtaButton {
	background-color: #000;
	color: #fff;
	font-weight: 600;
	transition: box-shadow var(--animation-basic);
}
.applicationCtaButton:hover,
.applicationCtaButton:focus {
	box-shadow: var(--shadow-card);
}

.bankCta {
	flex-basis: 25%;
}

@media (max-width: 1000px) {
	.applicationCta {
		flex-basis: 70%;
	}
	.bankCta {
		flex-basis: 30%;
	}
}
