body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
}

:root {
	/* Color */
	--color-accent: #fda459;
	--color-light-bg: #f1f1f1;
	--color-lightest-bg: #f7f7f7;
	--color-text-secondary: #65748a;
	--color-text-basic: #000;

	/* Font */
	--font-size-basic: 16px;
	--font-size-caption: 10px;
	--font-size-title: 22px;
	--font-size-heading: 42px;

	--font-weight-middle: 500;

	/* Animation */
	--animation-basic: 0.1s ease-out;

	/* Paddings */
	--padding-main-container-horisontal: 40px;

	/* Size */
	--width-app-max: 1200px;

	/* Shadow */
	--shadow-card: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 8px -4px rgba(0, 0, 0, 0.15),
		0 8px 20px -10px rgba(0, 0, 0, 0.07);
}

@media (max-width: 500px) {
	:root {
		/* Paddings */
		--padding-main-container-horisontal: 20px;
	}
}
